@model Vidly.Models.Movie
@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>Genero: @Model.Genre.Name</li>
    <li>Fecha de lanzamiento: @Model.ReleaseDate.ToString("D")</li>
    <li>Fecha en que fue añadida: @Model.DateAdded.ToString("D")</li>
    <li>Cantidad en el almacen: @Model.NumberInStock</li>
</ul>

